#play{
    margin:190px 0px 0px 62px;
    color:#fff;
    width:162px;
    height:70px;
    border:none;
    cursor:pointer;
    background:rgb(96, 75, 75);
    font-size:27px;
    border-radius:9px;
    position: absolute;
}


#container{
    background:#e2e2e2;
    width: 100%;
    height: auto;
}

#container > p {
    margin:31.8px 0px 31.8px 24.7px;
}


/*  ----- Sélection lignes ------  */


#ligne{
    margin-left: 8px;
    background:white;
    color:#000000;
    width:262px;
    height:80px;
    border:none;
    cursor:pointer;
    font-size:17px;
    padding:0;
    margin-bottom: 10px;
}

#ligne > img{
    width:17px;
    position: absolute;
    margin-top: -21px;
    margin-left: 90px;
}

#terminus{
    margin-top: -53px;
    margin-left: 80px;
    position:absolute;
    text-align: left;
    font-size:14px;
}



#cercle {
    background: #f8c808;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#progress{
    padding-bottom: 5px;
    height:6px;
    width:192px;
    background: #f8c808;
    position: absolute;
}


#progress2{
    margin-left:192px;
    padding-bottom: 5px;
    height:6px;
    width:70px;
    background: #fff4c4;
    position: absolute;
}



#cercle_2 {
    background: #0959b5;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
    color:white;
}

#cercle_3 {
    background: #a09923;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
    color:white;
}

#cercle_4 {
    background:#c04191;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
    color:white;
}

#cercle_5 {
    background: #f28e42;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_6 {
    background: #79c898;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_7 {
    background: #f898b8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_8 {
    background: #c8a8c8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_9 {
    background: #d5d253;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_10 {
    background: #e7b93a;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_11 {
    background: #8a693a;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
    color:white;
}

#cercle_12 {
    background: #088858;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
    color:white;
}

#cercle_13 {
    background: #88d8d8;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
}

#cercle_14 {
    background: #682898;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    margin: 0px 0px 10px 6px;
    font-size: 36px;
    color:white;
}