.bg1 {
    background: url(../imgs/Background.jpg);
    background-size: contain;
}

/*    ----- Container ------     */


article {
    margin: auto;
    width: 730px;
    position:relative;
    padding-top:70px;
}

iframe {
    margin: auto;
    position: absolute;
    bottom: 127px;
    left: 38px;
    right: 30px;
}


/*    ----- Footer ------     */



footer {
    display: block;
    height: 50px;
    width: 600px;
    margin: auto;
}

footer > p {
    text-align: center;
    font-size: 30px;
    padding-top:8px;
}